<?xml version="1.0"?>
<!--/**-->
<!-- * Module VN address of Eloab package-->
<!-- * @package Eloab_VNAddress-->
<!-- * @author Bao Le-->
<!-- * @date 2022-->
<!-- */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Title-->
        <add id="Eloab_VNAddress::VNAddress"
             title="VietNam Address" module="Eloab_VNAddress"
             sortOrder="10" parent="MenuEloab_Base::menu"
             resource="Eloab_VNAddress::VNAddress"/>
        <!-- Address Manager-->
        <add id="Eloab_VNAddress::VietNamAddress_Manage"
             title="Viet Nam Address List" module="Eloab_VNAddress"
             sortOrder="10" parent="Eloab_VNAddress::VNAddress"
             action="vnaddress/manage/index"
             resource="Eloab_VNAddress::VietNamAddress_Manage"/>
    </menu>
</config>
